# Build outputs
build/
bin/
out/
Debug/
Release/
x64/
Win32/

# Compiled objects / deps
*.o
*.obj
*.d

# Precompiled headers
*.gch
*.pch

# Linker / debug artifacts
*.ilk
*.pdb
*.dwo

# Executables
*.exe
*.out
*.app

# Libraries (optional, nếu bạn có build ra)
*.lib
*.a
*.dll
*.so
*.dylib

# IDE / editor
.vscode/
.vs/
*.log
*.user
